/venv/
/.idea/
/logs/
__pycache__/
/.cache/
/data/
.neptune/
.tmp/
/datasets/
/evaluation/
/models/
/predictions/
.coverage
unit_tests/resources
secrets.env
*.egg-info/
build/
.python-version
.vscode/launch.json
